@model MvcPaging.IPagedList<Aitag.Models.empfunction>
@using MvcPaging
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Aitag.Models.NDcommon dbobj = new Aitag.Models.NDcommon();
    System.Data.SqlClient.SqlConnection comconn = dbobj.get_conn("Aitag_DBContext");

}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function submitform(tmpgo, tmppage, tmpkey) {
        $('#page').val(tmppage);
        switch (tmpgo) {
            case "L":
                FormList.action = "/empfunction/List";
                break;
            case "A":
                FormList.action = "/empfunction/Add";
                break;
            case "E":
                FormList.action = "/empfunction/Edit?" + tmpkey;
                break;
            case "D":
                FormList.action = "/empfunction/Delete";
                break;
            case"G":
                FormList.action="/empfunction/getallpage";
                break;
        }

        if (tmpgo != "LQ")
        { FormList.submit(); }

    }

    function sortform(tmp1,tmp2)
    {
        $('#page').val(1);
        $('#orderdata').val(tmp1);
        $('#orderdata1').val(tmp2);
        FormList.submit();
    }
</script>
@using (Html.BeginForm("List", "empfunction", FormMethod.Post, new { @name = "FormList", @id = "FormList", @onsubmit = "return submitform('LQ',1,0,'')" }))
{
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr valign=top>
            <td align="center" colspan="2">
                <input type="hidden" id="page" name="page" value="@ViewBag.page">
                <input type="hidden" id="syssid" name="syssid" value="@Session["sid"].ToString()">
                <input type="hidden" id="sysrealsid" name="sysrealsid" value="@Session["realsid"].ToString()">
                <input type="hidden" id="qempdid" name="qempdid" value="@ViewBag.qempdid">
                <input type="hidden" id="funid" name="funid" value="@ViewBag.funid">
                <input type="hidden" id="orderdata" name="orderdata" value="@ViewBag.orderdata">
                <input type="hidden" id="orderdata1" name="orderdata1" value="@ViewBag.orderdata1">
        <tr>
            <td align="center" colspan="2">
                <input type=button value="使用者個人化首頁重新產生" class="abutton" id=submit1 onclick="return submitform('G',@ViewBag.page, 0,'')">
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <font color=red style="font-size:10pt">若按下重新產生按鈕，會重新產生全部使用者的個人化設定</font>
            </td>
        </tr>
            
              
            

        <tr class="pagestyle">
            <td align="left" class="buttontd">
                <input id="dbut" type="button" value="刪除" class="abutton" onclick="javascript:if(confirm('確定刪除勾選資料??')==1) {return submitform('D',@ViewBag.page, 0,'');}" />   
                <input id="abut" type="button" value="新增" class="abutton" onclick="return submitform('A',@ViewBag.page, 0,'')" />
            </td>
            <td align="left">@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)</td>
        </tr>
        <tr valign=top>
            <td align="center" colspan="2">
                <table class="maintable" width="100%" border="1" cellspacing="0" cellpadding="3" id="mtable">
                    <tr>
                        <th width="30"><input type=checkbox name=chkall onclick="javascript:checkallbox();"></th>
                        <!--th width="30">順序</th-->
                        <th >個人化挑選功能</th>
                        <th width="150">位置</th>
                        <th width="60">順序</th>
                        <th width="150">呈現筆數</th>
                        <th width="40">修改</th>
                        

                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="colstd" align="center">
                                <input type="checkbox" name="cdel" id="cdel" value="@item.empdid">
                            </td>
                            <td class="colstd">
                                @{
                                   string selectsql = "select chkitem from checkcode where chkclass ='08' and chkcode ='"+ item.funid +"'";
                                    @Html.Raw(dbobj.get_dbvalue(comconn, selectsql));
                                }
                            </td>
                            <td class="colstd">
                                @{
                                     string data = null;
                                     switch (item.funposition)
                                        {           
                                         case "n":
                                         data = "無" ;
                                         break;
                                         case "m":
                                         data = "中間";
                                         break;
                                         case "r":
                                         data = "右邊";
                                         break;
                                         }
                                 }
                                @Html.Raw(data)
                            </td>

                            <td class="colstd" style="color:cc3322">
                               @item.funorder
                            </td>
                            <td class="colstd">
                                @item.funrowcount
                            </td>
                            <td class="colstd"><input id="ebut" type="button" value="修改" class="abutton" onclick="return submitform('E',@ViewBag.page, 'empdid=@item.empdid')" /> </td>
                            
                        </tr>
                    }
                    @{
                    comconn.Close();
                    comconn.Dispose();
                    }
                </table>
                @if (Model.TotalItemCount < 1)
                {
                    @Html.Raw("<div class=nodata align=left>查詢無資料!!</div>");
                }
            </td>
        </tr>
        <tr class="pagestyle"><td align="left" colspan="2">@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)</td></tr>
    </table>
}








