@model Aitag.Models.menutab
@using MvcPaging
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Aitag.Models.NDcommon dbobj = new Aitag.Models.NDcommon();
    System.Data.SqlClient.SqlConnection comconn = dbobj.get_conn("Aitag_DBContext");
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#FormAdd").submit(function (e) {
            var errmsg = "";
            if ($("#mtid").val() == "")
            { errmsg = "請選擇類別代碼\n"; }

            if ($("#mttitle").val() == "")
            { errmsg += "請選擇類別名稱\n"; }

            if (errmsg != "") {
                alert(errmsg);
                return false;
            }
            else {
                return true;
            }
        });
    });
</script>


<table cellpadding="3" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" width=100%>
            @using (Html.BeginForm("Add", "menutab", FormMethod.Post, new { @name = "FormAdd", @id = "FormAdd" }))
            {
                @Html.ValidationSummary(true)
                <input type="hidden" id="sysflag" name="sysflag" value="A">
                <input type="hidden" id="page" name="page" value="@ViewBag.page">
                <input type="hidden" id="orderdata" name="orderdata" value="@ViewBag.orderdata">
                <input type="hidden" id="orderdata1" name="orderdata1" value="@ViewBag.orderdata1">
                <input type="hidden" id="syssid" name="syssid" value="@Session["sid"].ToString()">
                <input type="hidden" id="sysrealsid" name="sysrealsid" value="@Session["realsid"].ToString()">
                <input type="hidden" id="qmtid" name="qmtid" value="@ViewBag.qmtid">
                <input type="hidden" id="qmttitle" name="qmttitle" value="@ViewBag.qmttitle">
                <table align="center" border="0" cellpadding="10" cellspacing="0" class="tclass" width="95%">
                    <tr>
                        <td class="headfont" colspan="2" align="left">資料新增</td>
                    </tr>
                    <tr>
                        <td align="right"><img src="~/images/art.gif" border="0" /> 群組代碼</td>
                        <td align="left">
                            <input type="text" maxlength="5" class="c12border" id="mtid" name="mtid" style="width:100px;" value="@Model.mtid" />
                            @Html.ValidationMessageFor(m => m.mtid)
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><img src="~/images/art.gif" border="0" /> 群組名稱</td>
                        <td align="left">
                            <input type="text" maxlength="30" class="c12border" id="mttitle" name="mttitle" style="width:200px;" value="@Model.mttitle" />
                            @Html.ValidationMessageFor(m => m.mttitle)
                        </td>
                    </tr>
                    <tr>
                        <td align="right"> 另開視窗</td>
                        <td align="left">
                          @{ string sql = "select chkcode,chkitem from checkcode where chkclass='03' order by chkcode"; }
                            @Html.Raw(dbobj.get_radioobj(comconn, sql, "mopen", "n"))
                            @Html.ValidationMessageFor(m => m.mopen)
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2" class="footerfont">
                            <input type="submit" value="確認" class="abutton" />
                            <input id="reset1" class="abutton" name="reset1" type="reset" value="重新輸入" />
                            @Html.ActionLink("回上頁", "List", "menutab", new { }, new { @class = "abutton" })

                        </td>
                    </tr>
                </table>
                comconn.Close();
                comconn.Dispose();
            }


        </td>
    </tr>
</table>



