@model Aitag.Models.maincontent
@using MvcPaging
@using System.Data.SqlClient
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Aitag.Models.NDcommon dbobj = new Aitag.Models.NDcommon();
    System.Data.SqlClient.SqlConnection comconn = dbobj.get_conn("Aitag_DBContext");
    string sqlstr = "select * from mainclass where sid='" + Session["realsid"].ToString() + "'";
    SqlCommand cmd = new SqlCommand();
    cmd.Connection = comconn;
    cmd.CommandText = sqlstr;
    SqlDataReader dr = cmd.ExecuteReader();
    string t1 = "0";
    if (dr.Read())
    { t1 = "1"; }
    dr.Close();
    dr.Dispose();

    sqlstr = "select * from sublevel1 where sid='" + Session["realsid"].ToString() + "'";
    cmd.CommandText = sqlstr;
    dr = cmd.ExecuteReader();
    string functype = "";
    if (dr.Read())
    { functype = dr["functype"].ToString(); }
    dr.Close();
    dr.Dispose();

}
<link rel="stylesheet" href="/Scripts/editor/themes/default/default.css" />
<link rel="stylesheet" href="/Scripts/editor/plugins/code/prettify.css" />
<script charset="utf-8" src="/Scripts/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="/Scripts/editor/lang/zh_TW.js"></script>
<script charset="utf-8" src="/Scripts/editor/plugins/code/prettify.js"></script>
<script>
    KindEditor.ready(function (K) {

        var editor1 = K.create('textarea[name="mccontent"]', {
            cssPath: '/Scripts/editor/plugins/code/prettify.css',
            uploadJson: '/Scripts/editor/asp/upload_json.asp',
            fileManagerJson: '/Scripts/editor/asp/file_manager_json.asp',
            allowFileManager: true,
            afterBlur: function () { this.sync(); }

        });
        prettyPrint();
    });


</script>
<script type="text/javascript">
    function changefile(tmpvar) {

        if (tmpvar == 1) {
            hid1.style.display = 'none'
            filedir1.style.display = ''
            //  filedir2.style.display = 'none'
            document.all["mcfiletype"].value = '1'
        }
        else {
            hid1.style.display = ''
            filedir1.style.display = 'none'
            //  filedir2.style.display = 'block'
            document.all["mcfiletype"].value = '0'
        }

    }

    $(document).ready(function () {
        $("#FormAdd").submit(function (e) {
            var errmsg = "";
            @{
                if(functype=="0"||functype=="2"){
                   @Html.Raw(" if($('#mctitle').val()=='')\r")
                   @Html.Raw(" { errmsg = errmsg + '請輸入標題\\n';}\r")
                   @Html.Raw(" if($('#mccontent').val()=='')\r")
                   @Html.Raw(" { errmsg = errmsg + '請輸入內容\\n';}\r")
                }
                if (functype == "4" || functype == "7")
                {
                    @Html.Raw(" if($('#mclassid').val()=='')\r")
                    @Html.Raw(" { errmsg = errmsg + '請選擇系統類別\\n';}\r")
                    @Html.Raw(" if($('#mcfiletype').val()=='')\r")
                    @Html.Raw(" { errmsg = errmsg + '請選擇類型\\n';}\r")
                    @Html.Raw(" else{")
                    @Html.Raw(" if($('#mcfiletype').val() == '0' && $('#mctitle').val()=='')")
                    @Html.Raw(" { errmsg = errmsg + '請輸入標題\\n' }}\r")
                }
            }

            if (errmsg != "") {
                alert(errmsg);
                return false;
            }

        });
    });
</script>


<table cellpadding="3" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" width=100%>
            @using (Html.BeginForm("maincontentmod", "oa", FormMethod.Post, new { @name = "FormAdd", @id = "FormAdd" }))
            {
                @Html.ValidationSummary(true)
                <input type="hidden" id="sysflag" name="sysflag" value="E">
                <input type="hidden" id="page" name="page" value="@ViewBag.page">
                <input type="hidden" id="orderdata" name="orderdata" value="@ViewBag.orderdata">
                <input type="hidden" id="orderdata1" name="orderdata1" value="@ViewBag.orderdata1">
                <input type="hidden" id="syssid" name="syssid" value="@Session["sid"].ToString()">
                <input type="hidden" id="sysrealsid" name="sysrealsid" value="@Session["realsid"].ToString()">
                <input type="hidden" id="qkeyword" name="qkeyword" value="@ViewBag.qkeyword">
                <input type="hidden" id="qsmdate" name="qsmdate" value="@ViewBag.qsmdate">
                <input type="hidden" id="qemdate" name="qemdate" value="@ViewBag.qemdate">
                <!--input type="hidden" id="sid" name="sid" value="@Session["sid"].ToString()">
                <input type="hidden" id="realsid" name="realsid" value="@Session["realsid"].ToString()"-->
                  <input type="hidden" id="mcid" name="mcid" value="">
                <input type="hidden" id="mcid1" name="mcid1" value="@Model.mcid">
                <input type="hidden" id="mctype" name="mctype" value="@Model.mctype">
                <input type="hidden" id="mcparentid" name="mcparentid" value="@Model.mcparentid">
                <input type="hidden" id="mclassid" name="mclassid" value="@Model.mclassid">
                <input type="hidden" id="tmpsid" name="tmpsid" value="@Model.sid">
                <input type="hidden" id="ownman" name="ownman" value="@Model.ownman">
                <input type="hidden" id="mclick" name="mclick" value="@Model.mclick">
                <input type="hidden" id="dptid" name="dptid" value="@Model.dptid">
                <input type="hidden" id="comid" name="comid" value="@Model.comid">
                <input type="hidden" id="mdate" name="mdate" value="@Model.mdate">
                
                <table align="center" border="0" cellpadding="5" cellspacing="0" class="tclass" width="95%">
                    <tr>
                        <td class="headfont" colspan="2" align="left">資料修改</td>
                    </tr>
                    @if (t1 == "1")
                    {
                        <tr>
                            <td align=right><img src="/images/art.gif"> 系統類別</td>
                            <td>
                                @Html.Raw(dbobj.get_selectobj(comconn, "select mclassid,mclasstitle from mainclass where sid = '" + Session["realsid"].ToString() + "'", "mclassid", @Model.mclassid.ToString(), "1"))
                            </td>
                        </tr>
                    }
                    else
                    {
                        <input type=hidden name="mclassid" value="0">
                    }

                    @if (functype == "4" || functype == "7")
                    {
                        <tr><td align=right width=80><img src="/images/art.gif"> 類型</td><td width=540><input type=radio name="mcfiletype1" value="1" @if(Model.mcfiletype.ToString()=="1"){@("checked")} onclick="javascript:changefile(1);"> 文件 <input type=radio name="mcfiletype1" @if(Model.mcfiletype.ToString()=="0"){@("checked")} value="0" onclick="javascript:changefile(0);"> 資料夾</td></tr>
                        <input type=hidden name="mcfiletype" value="@Model.mcfiletype.ToString()">
                        <input type=hidden name="mccontent" value="">
                    }
                    else
                    {
                        <input type=hidden name="mcfiletype">
                    }
                    <tr id="hid1" @if (functype == "4" || functype == "7") { @("style=display:none") }>
                        <td align=right width=80><img src="/images/art.gif"> 標題</td>
                        <td width=540><input type=text name="mctitle" value="@Model.mctitle.ToString()" maxlength=300 size=80 class=c12border></td>
                    </tr>
                    @if (functype == "3")
                    {
                        <tr><td align=right><img src="/images/art.gif"> 網路連結</td><td><input type=text name="mchttp" value="@Model.mchttp.ToString()" maxlength=150 size=80 class=c12border></td></tr>
                        <!--tr>
                            <td align=right>圖片</td>
                            <td>
                                <input type=text name="mccontent" size=40 class=c12border readonly style="background:#dedede">
                                <input type=button value="挑選" onclick="javascript:window.open('../inc/openfileupload.asp?tmpflag1=mccontent','jump','scrollbars=1,resizable=1,width=400,height=80');" class="button">
                                <input type=button value="清空" onclick="javascript:maincontent.mccontent.value='';" class="button">
                            </td>
                        </tr-->
                    }
                    else
                    {
                        <input type=hidden name="mchttp">
                    }
                    @if (functype == "0" || functype == "2")
                    {
                        <tr>
                            <td align=right><img src="/images/art.gif"> 內容</td>
                            <td>
                                <textarea name="mccontent" style="width:800px;height:400px;visibility:hidden;">@Model.mccontent</textarea>
                            </td>
                        </tr>
                    }
                    else
                    {
                      
                            <input type=hidden name=mccontent value="@Model.mccontent">

                    }
                    @if (functype == "0" || functype == "2" || functype == "4" || functype == "7")
                    { 
                        <script>
                            changefile(@Model.mcfiletype);
                        </script>
                    <tr>
                        <td align=left colspan="2" class="headfont"> 附件檔案</td>
                    </tr>
                    <tr>
                        <td align=left colspan="2">
                            <table cellpadding=3 cellspacing=0 class=c12 border=1 width=100% align=center>
                                <tr class="headfont" style=color:#ffffff><td>序號</td><td>檔案名稱</td><td width=100>檔案大小</td><td width=50>刪除</td></tr>
                                @{
                                 cmd.CommandText = "select * from contupload where mcid = '" + Model.mcid + "' order by cupid";
                                 dr = cmd.ExecuteReader();
                                 int i = 1;
                                 while (dr.Read())
                                 {  
                                     decimal filesizestr = Math.Round((Convert.ToDecimal(dr["cfilesize"]) / 1000),2);
                                    <tr><td align="center" width="40">@i</td><td><input id="AA" type="button" value="@dr["cfilename"].ToString()" class="abutton" onclick="window.open('../downfile/@dr["cfiletitle"]')" /></td><td width=150>@(filesizestr) kBytes</td><td align="center" width="50"><input type="button" value="刪除" class="abutton" onclick="location.href='/oa/contuploaddel?cdel=@dr["cupid"].ToString()&qkeyword=@ViewBag.qkeyword&qsmdate=@ViewBag.qsmdate&qemdate=@ViewBag.qemdate&qmclassid=@ViewBag.qmclassid&qmcparentid=@Request["qmcparentid"].ToString()'" /></td></tr>
                                         i++;    
                                }
                                    dr.Close();
                                    dr.Dispose();
                                }
                                </table>
                        </td>
                    </tr>
                       <tr id=filedir1 bgcolor=#ffffff align=center>
                            <td colspan=2>
                                <table id="showzone" cellpadding=4 cellspacing=0 class=c12 border=1 width=100% align=center>
                                    <tr class="headfont" style=color:#ffffff><td width=40>&nbsp;</td><td>檔案名稱</td><td width=150>檔案大小</td></tr>
                                </table>
                                @{
                                string sid = Request["sid"].ToString();
                                string realsid = Request["realsid"].ToString();
                                string mcid = Request["mcid"].ToString();
                                string qmcparentid = Request["qmcparentid"].ToString();
                                }
                                <iframe width=600 height=180 frameborder="0" src="/MoreUpload/Index?mcid=@mcid&qmcparentid=@qmcparentid&realsid=@Session["realsid"].ToString()"></iframe>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td align="center" colspan="2" class="footerfont">
                            <input type="submit" value="確認" class="abutton" />
                            <input id="reset1" class="abutton" name="reset1" type="reset" value="重新輸入" />
                            <input id="btnback" class="abutton" name="btnback" type="button" value="回上頁" onclick="history.go(-1)" />

                        </td>
                    </tr>
                </table>
                    comconn.Close();
                    comconn.Dispose();
            }


        </td>
    </tr>
</table>
