@model MvcPaging.IPagedList<Aitag.Models.maincontent>
@using System.Data.SqlClient
@using MvcPaging
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    Aitag.Models.NDcommon dbobj = new Aitag.Models.NDcommon();
    System.Data.SqlClient.SqlConnection comconn = dbobj.get_conn("Aitag_DBContext");
  
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function submitform(tmpgo, tmppage, tmpkey) {
        $('#page').val(tmppage);
        switch (tmpgo) {
            case "L":
                FormList.action = "/oa/maincontent";
                break;
            case "A":
                FormList.action = "/oa/maincontentadd";
                break;
            case "E":
                FormList.action = "/oa/maincontentmod?" + tmpkey;
                break;
            case "D":
                FormList.action = "/oa/maincontentdel";
                break;
            case "R":
                FormList.action = "/oa/rssread";
                break;
            case "T":
                FormList.action = "/oa/PublishNews";
                break;
        }

        if (tmpgo != "LQ")
        { FormList.submit(); }
        else {
            var errmsg = "";
            if ($("#qsmdate").val() != "")
            { errmsg = errmsg + check_date(document.FormList.qsmdate, "發布日期起") }

            if ($("#qemdate").val() != "")
            { errmsg = errmsg + check_date(document.FormList.qemdate, "發布日期迄") }


            if (errmsg != "") {
                alert(errmsg);
                return false;
            }
            else {
                return true;
            }
        }

    }

    function sortform(tmp1,tmp2)
    {
        $('#page').val(1);
        $('#orderdata').val(tmp1);
        $('#orderdata1').val(tmp2);
        FormList.submit();
    }

    
</script>
@Html.Raw(ViewBag.DateEx)
@using (Html.BeginForm("maincontent", "oa", FormMethod.Post, new { @name = "FormList", @id = "FormList", @onsubmit = "return submitform('LQ',1,0,'')" })) 
{
<table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr valign=top>
        <td align="center" colspan="2">          
            <input type="hidden" id="page" name="page" value="@ViewBag.page">
            <input type="hidden" id="syssid" name="syssid" value="@Session["sid"].ToString()">
            <input type="hidden" id="sysrealsid" name="sysrealsid" value="@Session["realsid"].ToString()">
            <input type="hidden" id="orderdata" name="orderdata" value="@ViewBag.orderdata">
            <input type="hidden" id="orderdata1" name="orderdata1" value="@ViewBag.orderdata1">
            <input type="hidden" id="sid" name="sid" value="@Session["sid"].ToString()">
            <input type="hidden" id="realsid" name="realsid" value="@Session["realsid"].ToString()">
            <input type="hidden" id="mcid" name="mcid" value="">
            <input type="hidden" id="qmcparentid" name="qmcparentid" value="">
            @{
                string sqlstr = "select * from mainclass where sid='" + Session["realsid"].ToString() + "'";
                SqlCommand cmd = new SqlCommand();
                cmd.Connection = comconn;
                cmd.CommandText = sqlstr;
                SqlDataReader dr = cmd.ExecuteReader();
                string t1 = "0";
                if (dr.Read())
                { t1 = "1"; }
                dr.Close();
                dr.Dispose();

                string magid = "";
                sqlstr = "select * from sublevel1 where sid='" + Session["realsid"].ToString() + "'";
                cmd.CommandText = sqlstr;
                dr = cmd.ExecuteReader();
                string functype = "";
                if (dr.Read())
                { 
                    functype = dr["functype"].ToString();
                    magid = dr["empmagid"].ToString();
                }
                dr.Close();
                dr.Dispose();

                string[] filearr = { "2", "2", "2", "2" };
                sqlstr = "select top 1 * from subreadwrite where sid = " + Session["realsid"] + " and (dptgroup like '%" + Session["dptid"] + "%' or empgroup like '%" + Session["empid"] + "%') order by subread desc , subadd desc , submod desc , subdel desc";
                dr = dbobj.dbselect(comconn, sqlstr);
                if (dr.Read())
                {
                    filearr[0] = dr["subread"].ToString();
                    filearr[1] = dr["subadd"].ToString();
                    filearr[2] = dr["submod"].ToString();
                    filearr[3] = dr["subdel"].ToString();
                }
                dr.Close();
                dr.Dispose();
             }
                @if (filearr[0] != "0") {
                <table class="qfont" border="1" cellspacing="0" cellpadding="5" width="100%">
                    <tr>
                        <td>
                            @if(t1=="1"){
                            @("類別：") @Html.Raw(dbobj.get_selectobj(comconn, "select mclassid,mclasstitle from mainclass where sid = '" + Session["realsid"].ToString() + "'", "qmclassid", ViewBag.qmclassid, "1"))
                            }
                            else
                            {
                                <input type="hidden" id="qmclassid" name="qmclassid" />

                            }
                            關鍵字查詢：<input type="text" size="30" name="qkeyword" id="qkeyword" value="@ViewBag.qkeyword">
                            <br>
                            發布日期起迄：
                            <input type=text name="qsmdate" id="qsmdate" value="@ViewBag.qsmdate" class=c12border size=12>
                            <img src="/images/show-calendar.gif" border=0 id="f_btn" style='cursor: pointer'>
                            <script type="text/javascript">
                                cal.manageFields("f_btn", "qsmdate", "%Y/%m/%d");
                            </script>

                            ~
                            <input type=text name="qemdate" id="qemdate" value="@ViewBag.qemdate" class=c12border size=12>
                            <img src="/images/show-calendar.gif" border=0 id="f_btn1" style='cursor: pointer'>
                            <script type="text/javascript">
                                cal.manageFields("f_btn1", "qemdate", "%Y/%m/%d");
                            </script>

                            <input id="Submit1" type="submit" value="查詢" class="abutton" />   
                            @if (magid == Session["empid"].ToString())
                            {
                                <input id="ebutx" type="button" value="權限設定+" class="abutton" onclick="window.open('/sublevel1/subreadwritelist?tmpsid=@Session["realsid"]');" />
                            }
                        </td>
                    </tr>
                </table>   
                }       
        </td>
    </tr>
    <tr class="pagestyle">
        <td align="left" colspan="2"> <!--class="buttontd"-->
            @if (filearr[3] != "0") {
            <input id="dbut" type="button" value="刪除" class="abutton" onclick="javascript:if(confirm('確定刪除勾選資料??')==1) {return submitform('D',@ViewBag.page, 0,'');}" />
            }
            @if (filearr[1] != "0") {
            <input id="abut" type="button" value="新增" class="abutton" onclick="return submitform('A',@ViewBag.page, 0,'')"/>
            @*<input id="transtowebnews" type="button" value="發佈至新聞櫥窗" class="abutton" onclick="javascript:if(confirm('確定發佈勾選資料至網站新聞櫥窗??')==1) {return submitform('T',@ViewBag.page, 0,'');}" />
                if (Session["realsid"].ToString() == "610")
                {
                    <input id="ebut2" type="button" value="RSS讀取資訊" class="abutton" onclick="return submitform('R',@ViewBag.page, 0,'')" />
                }*@
            }
        &nbsp;&nbsp;@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)</td>
    </tr> 

    <tr valign=top>
        <td align="center" colspan="2">
            <table class="maintable" width="100%" border="1" cellspacing="0" cellpadding="3" id="mtable">
                <tr>
                    <th width="30"><input type=checkbox name=chkall onclick="javascript:checkallbox();"></th>
                    <!--th width="30">順序</th-->
                    @if (t1 == "1") { 
                    <td width=90>系統類別</td>
                    }
                    <th>
                        標題
                        @if (@ViewBag.orderdata1 == "asc" && @ViewBag.orderdata == "mctitle")
                        {<a href="#" onclick="sortform('mctitle', 'desc')" title="遞減"><img src="~/images/dorder.gif" border="0" alt="遞減" /></a> }
                        else
                        {<a href="#" onclick="sortform('mctitle', 'asc')" title="遞增"><img src="~/images/aorder.gif" border="0" alt="遞增" /></a>}
                    </th>
                    <th width="60">
                        發表人
                        @if (@ViewBag.orderdata1 == "asc" && @ViewBag.orderdata == "ownman")
                        {<a href="#" onclick="sortform('ownman', 'desc')" title="遞減"><img src="~/images/dorder.gif" border="0" alt="遞減" /></a> }
                        else
                        {<a href="#" onclick="sortform('ownman', 'asc')" title="遞增"><img src="~/images/aorder.gif" border="0" alt="遞增" /></a>}
                    </th>
                    <th width="100">
                        發布日期
                    @if (@ViewBag.orderdata1 == "asc" && @ViewBag.orderdata == "mdate")
                    {<a href="#" onclick="sortform('mdate', 'desc')" title="遞減"><img src="~/images/dorder.gif" border="0" alt="遞減" /></a> }
                    else
                    {<a href="#" onclick="sortform('mdate', 'asc')" title="遞增"><img src="~/images/aorder.gif" border="0" alt="遞增" /></a>}
                    </th>
                    <th width="40">維謢</th>
                   
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="colstd" align="center">
                            @if (filearr[3] == "2")
                            {
                                <input type="checkbox" name="cdel" id="cdel" value="@item.mcid">
                            }
                            else if (filearr[3] == "1")
                            {
                                if (item.ownman.ToString() == Session["empid"].ToString())
                                {
                                    <input type="checkbox" name="cdel" id="cdel" value="@item.mcid">
                                }
                            }
                        </td>
                        @if (t1 == "1") { 
                        <td>@dbobj.get_dbvalue(comconn , "select mclasstitle from mainclass where mclassid = " + item.mclassid + " and sid= '" + item.sid + "'")
                            &nbsp;
                        </td>
                        }
                        @if (functype == "3") { 
                        <td><a href="@item.mchttp" target="_blank" title="連結@(item.mctitle)">@item.mctitle</a>
                           @*if len(rs("cfilename")) > 40 then
                            cfilename = left(trim(rs("cfilename")),40) & "<br>" & mid(trim(rs("cfilename")),41,len(trim(rs("cfilename")))-40)
                            elseㄋ
                            cfilename = trim(rs("cfilename"))
                            end if
                            %>
                            <%if trim(rs("mcfiletype")) = "0" then%>
                            <a href="maincontent.asp?qmcparentid=<%=trim(rs(" mcid"))%>&mcid=<%=trim(rs("mcid"))%><%=condition%>qpagenum=<%=pagenum%>" title="內層檔案">
                                <img src=./images/folclose.gif border=0 align=absmiddle><%=get_ifread(trim(rs("readallman")),trim(rs("mctitle")))%>
                            </a>
                            <%else%>
                            <!--img src=./images/filedoc.gif border=0 align=absmiddle> <%=trim(rs("mctitle"))%>&nbsp;&nbsp;<br-->
                            <a href="cupfile.asp?cupid=<%=rs(" cupid")%>&mcid=<%=trim(rs("mcid"))%>" target=_blank title="<%=rs("cfilesize")%>"><img src="../iconimages<%=session(" eicon")%>/d.gif" title="下載檔案" border=0  align=absbottom><%=get_ifread(trim(rs("readallman")),cfilename)%>(<%=get_readsize(rs("cfilesize"))%>)</a><br>
                            <%end if%>
                        *@
                        </td>
                        } else { 
                        <td>
                            <a href="/oa/maincontentview?mcid=@item.mcid" title="觀看">@item.mctitle</a>
                        </td>
                        }

                        @if (functype == "4" || functype == "7") { 
                        <td>@if(item.mcfiletype== "0")
                             {   @("資料夾")  }
                            else 
                             { @("文件") } 
                        </td>
                        } else { 
                        <td class="colstd">
                            @dbobj.get_name(comconn, item.ownman)
                        </td>
                        }
                        <td class="colstd">
                            @{
                                string mdate = dbobj.get_date(item.mdate.ToString(), "1");
                                if (mdate != "") { @Html.Raw(mdate) }
                                else { @Html.Raw("未發佈")}
                            }
                        </td>
                        <td class="colstd">
                            @if (filearr[2] == "2")
                            {
                                <input id="ebut" type="button" value="修改" class="abutton" onclick="return submitform('E',@ViewBag.page, 'mcid=@item.mcid')" />
                            }
                            else if (filearr[2] == "1")
                            {
                                if (item.ownman.ToString() == Session["empid"].ToString())
                                {
                                    <input id="ebut" type="button" value="修改" class="abutton" onclick="return submitform('E',@ViewBag.page, 'mcid=@item.mcid')" />
                                }
                            }
                         </td>
                        
                    </tr>
                }
                @{
                comconn.Close();
                comconn.Dispose();
                }
            </table>
            @if (Model.TotalItemCount < 1)
            {
                  if(filearr[0]=="0")
                {
                    @Html.Raw("<div class=nodata align=left>此目錄無觀看權限!!</div>");
                }
                else {
                @Html.Raw("<div class=nodata align=left>查詢無資料!!</div>");
                 }
            }
        </td>
    </tr>
<tr class="pagestyle"><td align="left" colspan="2">@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)</td></tr>
</table>
}


           



          

