@model Aitag.Models.Checkcode
@using MvcPaging
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";    
    
    Aitag.Models.NDcommon dbobj = new Aitag.Models.NDcommon();
    System.Data.SqlClient.SqlConnection comconn = dbobj.get_conn("Aitag_DBContext");  
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#FormAdd").submit(function (e) {
            var errmsg = "";
            if ($("#chkclass").val() == "")
            { errmsg = "請選擇類別代碼\n"; }

            if ($("#chkclasstitle").val() == "")
            { errmsg += "請選擇類別名稱\n"; }

            if ($("#chkcode").val() == "")
            { errmsg += "請輸入共用代碼\n"; }

            if ($("#chkitem").val() == "")
            { errmsg += "請輸入代碼名稱\n"; }

            if (errmsg != "") {
                alert(errmsg);
                return false;
            }
            else {
                return true;
            }
        });
    });
</script>


 <table cellpadding="3" cellspacing="0" border="0" width="100%">
    <tr>
    <td align="center" width=100%>      
            @using (Html.BeginForm("Add", "Checkcode", FormMethod.Post, new { @name = "FormAdd", @id = "FormAdd" }))
            { 
                @Html.ValidationSummary(true)
                <input type="hidden" id="sysflag" name="sysflag" value="A">                
                <input type="hidden" id="page" name="page" value="@ViewBag.page">
                <input type="hidden" id="orderdata" name="orderdata" value="@ViewBag.orderdata">
                <input type="hidden" id="orderdata1" name="orderdata1" value="@ViewBag.orderdata1">
                <input type="hidden" id="syssid" name="syssid" value="@Session["sid"].ToString()">
                <input type="hidden" id="sysrealsid" name="sysrealsid" value="@Session["realsid"].ToString()">
                <input type="hidden" id="qchkclass" name="qchkclass" value="@ViewBag.qchkclass">
                <input type="hidden" id="qchkitem" name="qchkitem" value="@ViewBag.qchkitem">
<table align="center" border="0" cellpadding="5" cellspacing="0" class="tclass" width="95%">
    <tr>
        <td class="headfont" colspan="2" align="left">資料新增</td>
    </tr>
    <tr>
        <td align="right"><img src="~/images/art.gif" border="0" /> 類別代碼</td>
        <td align="left">
            <input type="text" maxlength="2" class="c12border" id="chkclass" name="chkclass" style="width:60px;" value="@Model.chkclass" />
            @Html.ValidationMessageFor(m => m.chkclass)
        </td>
    </tr>
    <tr>
        <td align="right"><img src="~/images/art.gif" border="0" /> 類別名稱</td>
        <td align="left">
            <input type="text" maxlength="30" class="c12border" id="chkclasstitle" name="chkclasstitle" style="width:200px;" value="@Model.chkclasstitle" />
            @Html.ValidationMessageFor(m => m.chkclasstitle)
        </td>
    </tr>
    <tr>
        <td align="right"><img src="~/images/art.gif" border="0" /> 共用代碼</td>
        <td align="left">
            <input type="text" maxlength="2" class="c12border" id="chkcode" name="chkcode" style="width:60px;" value="@Model.chkcode" />
            @Html.ValidationMessageFor(m => m.chkcode)
        </td>
    </tr>
    <tr>
        <td align="right"><img src="~/images/art.gif" border="0" /> 代碼名稱</td>
        <td align="left">
            <input type="text" maxlength="30" class="c12border" id="chkitem" name="chkitem" style="width:200px;" value="@Model.chkitem" />
            @Html.ValidationMessageFor(m => m.chkitem)
        </td>
    </tr>
    <tr >
        <td align="center" colspan="2" class="footerfont">
            <input type="submit" value="確認" class="abutton" />
            <input id="reset1" class="abutton" name="reset1" type="reset" value="重新輸入" />
            @Html.ActionLink("回上頁", "List", "Checkcode", new { }, new { @class = "abutton" })

        </td>
    </tr>
</table>
                comconn.Close();
                comconn.Dispose();
            }
                       
   
</td>
</tr>
</table>
           
    

