@model Aitag.Models.landdata
@using MvcPaging
@using System.Data.SqlClient
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";    
    
    Aitag.Models.NDcommon dbobj = new Aitag.Models.NDcommon();
    System.Data.SqlClient.SqlConnection comconn = dbobj.get_conn("Aitag_DBContext");
   // System.Data.SqlClient.SqlConnection comconn1 = dbobj.get_conn("Aitag_DBContext"); 
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#FormAdd").submit(function (e) {
            var errmsg = "";
            if ($("#vcode").val() == "")
                { errmsg = "請選擇村落 \n"; }

            if ($("#lcode").val() == "")
            { errmsg = "請選擇段名名稱\n"; }

            if ($("#landno1").val() == "")
            { errmsg += "請輸入地號\n"; }

         //   if ($("#landno2").val() == "")
         //   { errmsg += "請輸入地號(子號)\n"; }

            if ($("#ownman").val() == "")
            { errmsg += "請輸入承租人\n"; }

            if ($("#rentman").val() == "")
            { errmsg += "請輸入所有權人\n"; }

                    
            if (errmsg != "") {
                alert(errmsg);
                return false;
            }
            else {
                return true;
            }
        });
    });
</script>


 <table cellpadding="3" cellspacing="0" border="0" width="100%">
    <tr>
    <td align="center" width=100%>      
            @using (Html.BeginForm("Add", "landdata", FormMethod.Post, new { @name = "FormAdd", @id = "FormAdd" }))
            { 
                @Html.ValidationSummary(true)
                <input type="hidden" id="sysflag" name="sysflag" value="A">                
                <input type="hidden" id="page" name="page" value="@ViewBag.page">
                <input type="hidden" id="orderdata" name="orderdata" value="@ViewBag.orderdata">
                <input type="hidden" id="orderdata1" name="orderdata1" value="@ViewBag.orderdata1">
                <input type="hidden" id="syssid" name="syssid" value="@Session["sid"].ToString()">
                <input type="hidden" id="sysrealsid" name="sysrealsid" value="@Session["realsid"].ToString()">
                <input type="hidden" id="qlcode" name="qlcode" value="@ViewBag.qlcode">
                <input type="hidden" id="qownman" name="qownman" value="@ViewBag.qownman">
                <input type="hidden" id="qrentman" name="qrentman" value="@ViewBag.qrentman">

            <table align="center" border="0" cellpadding="5" cellspacing="0" class="tclass" width="95%">
                <tr>
                    <td class="headfont" colspan="2" align="left">資料新增</td>
                </tr> 
                <tr>
                    <td align="right"><img src="~/images/art.gif" border="0" /> 村落</td>
                    <td align="left">
                        @{
                            string Selectvcode = "select vcode,vtitle from village order by vcode";
                            Selectvcode = dbobj.get_selectobj(comconn, Selectvcode, "vcode", Model.vcode, "1");
                            @Html.Raw(Selectvcode);
                        }
                    </td>
                </tr>              
                <tr>
                    <td align="right"><img src="~/images/art.gif" border="0" /> 段名名稱</td>
                    <td align="left">
                        @Html.Raw(dbobj.get_selectobj(comconn, "select lcode,ltitle from landcode where  comid = '" + Session["comid"] + "' ", "lcode", ViewBag.lcode, "1"))
                    </td>
                </tr>
                <tr>
                    <td align="right"><img src="~/images/art.gif" border="0" /> 地號@*(母號-子號)*@</td>
                    <td align="left">
                        <input type=text name="landno1" id="landno1" maxlength=10 size=10 class=c12border> 
                        <input type=hidden name="landno2" id="landno2" maxlength=10 size=10 class=c12border>
                    </td>
                </tr>
                <tr>
                    <td align="right"><img src="~/images/art.gif" border="0" /> 承租人</td>
                    <td align="left">
                        <input type=text name="rentman" id="rentman" maxlength=10 size=24 class=c12border>
                    </td>
                </tr>
                <tr>
                    <td align="right"><img src="~/images/art.gif" border="0" /> 所有權人</td>
                    <td align="left">
                        <input type=text name="ownman" id="ownman" maxlength=10 size=24 class=c12border>
                    </td>
                </tr>
                <tr>
                    <td align="right"> 備註</td>
                    <td align="left">
                        <textarea name="lcomment" id="lcomment" cols=50 rows=5 class=c12border></textarea>
                    </td>
                </tr>
                <tr >
                    <td align="center" colspan="2" class="footerfont">
                        <input type="submit" value="確認" class="abutton" />
                        <input id="reset1" class="abutton" name="reset1" type="reset" value="重新輸入" />
                        @Html.ActionLink("回上頁", "List", "landdata", new { }, new { @class = "abutton" })

                    </td>
                </tr>
            </table>
                comconn.Close();
                comconn.Dispose();
            }
                       
   
</td>
</tr>
</table>
           
    

