@model List<Aitag.Models.allcompany_rate>
@using System.Data.SqlClient
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";    
    
    Aitag.Models.NDcommon dbobj = new Aitag.Models.NDcommon();
    System.Data.SqlClient.SqlConnection erpconn = dbobj.get_conn("AitagBill_DBContext");
    System.Data.SqlClient.SqlConnection comconn = dbobj.get_conn("Aitag_DBContext");
    SqlCommand cmd = new SqlCommand();
    cmd.Connection = erpconn;
    string allcomid = ViewBag.allcomid;

    string tmpsql = "";
    tmpsql = "select * from allcompany where comid = '" + allcomid + "'";
    
    cmd.CommandText = tmpsql;
    SqlDataReader dr = cmd.ExecuteReader();
    dr.Read();
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#FormAdd").submit(function (e) {
            var errmsg = "";
            var allmoney = 0;
            var i = 0;
                       
            for(var i = 1 ; i < 11 ; i ++){
               // alert($("#dptid" + i.toString()).val())
                // alert($("#wcardno" + i.toString()).val())
                 if(typeof $("#wcardno" + i.toString()).val()=="undefined")
                {
                    //alert('test');
                    break;
                }
                /*if($("#dptid" + i.toString()).val().trim()!=""||$("#wcardno" + i.toString()).val().trim()!="")
                {
                    if($("#psummoney" + i.toString()).val().trim()==""||$("#psummoney" + i.toString()).val().trim()=="0")
                        {
                        errmsg += "分攤金額" + "不可為0或空白"  
                            break;
                        }
                        else{
                            if($("#psummoney" + i.toString()).val()>0)
                                allmoney+= parseFloat($("#psummoney" + i.toString()).val());
                    }

                }*/

              
            }
            
         

        });
        });
</script>
<script>
    function calcu()
    {
        var alldata = 0;
       // alert($("#planemoney1").val());
        for(var i = 1 ; i < 20 ; i ++){
            if($("#dealdate" + i.toString()).val()!=""){
                alldata = 0;
                if($("#planemoney" + i).val()!="")
                alldata = parseInt($("#planemoney" + i.toString()).val()) ;
       
                if($("#carmoney" + i.toString()).val()!="")
                    alldata += parseInt($("#carmoney" + i.toString()).val())  ;

                if($("#othercarmoney" + i.toString()).val()!="")
                    alldata += parseInt($("#othercarmoney" + i.toString()).val())  ;

                if($("#livemoney" + i.toString()).val()!="")
                     alldata += parseInt($("#livemoney" + i.toString()).val())  ;

                 if($("#eatmoney" + i.toString()).val()!="")
                    alldata += parseInt($("#eatmoney" + i.toString()).val())  ;

                if($("#othermoney" + i.toString()).val()!="")
                    alldata += parseInt($("#othermoney" + i.toString()).val())  ;

                $("#psummoney" + i.toString()).val(alldata);
            }
        }
       

    }
</script>

 <table cellpadding="3" cellspacing="0" border="0" width="100%">
    <tr>
    <td align="center" width=100%>
        <form name="FormAdd" id="FormAdd" action="/allcompany/brlistdo" method="Post">
            @Html.ValidationSummary(true)
            <input type="hidden" id="sysflag" name="sysflag" value="A">
            <input type="hidden" id="page" name="page" value="@ViewBag.page">
            <input type="hidden" id="orderdata" name="orderdata" value="@ViewBag.orderdata">
            <input type="hidden" id="orderdata1" name="orderdata1" value="@ViewBag.orderdata1">
            <input type="hidden" id="syssid" name="syssid" value="@Session["sid"].ToString()">
            <input type="hidden" id="sysrealsid" name="sysrealsid" value="@Session["realsid"].ToString()">
            <input type="hidden" id="allcomid" name="allcomid" value="@allcomid">
            <input type="hidden" id="bseason" name="bseason" value="@ViewBag.bseason">       
            <table align="center" border="0" cellpadding="5" cellspacing="0" class="tclass" width="100%">
                <tr>
                    <td class="headfont" colspan="4" align="left">
                        資料新增
                            @{
                                int k = 2; 
                            }
                            <input type=button value="1.修改" onclick="location.href='/allcompany/edit?comid=@dr["comid"]'" />
                            @if (dr["comtype"].ToString().IndexOf("1") >= 0)
                            {
                            <input type=button value="@(k).客戶產品" onclick="location.href='/allcompany/prodlist?allcomid=@allcomid&fprodid=0'" />
                            k++;
                            }
                            @if (dr["comtype"].ToString().IndexOf("2") >= 0) { 
                            <input type=button value="@(k).媒體資訊" onclick="location.href='/allcompany/medialist?allcomid=@(allcomid)&mcno=@(ViewBag.mcno)'" />
                            k++;
                            }    
                            <input type=button value="@(k).交易條件" onclick="location.href='/allcompany/brlist?allcomid=@allcomid&bseason=@(ViewBag.bseason)'" />
                      </td>
                </tr>
                <tr>
                    <td align="right"> 公司代碼</td>
                    <td align="left">
                        @dr["comid"].ToString()
                    </td>
                    <td align="right"> 統編</td>
                    <td align="left">
                        @dr["comsno"].ToString()
                    </td>
                    <!--td align="right"> 單據代碼</!--td>
        <td align="left">
            <input type="text"  class="c12border" id="cmcode" name="cmcode" readonly style="width:60px;" value="@*Model.cmcode*@" />
        </td-->
                </tr>
                <tr>
                    <td align="right"><img src="~/images/art.gif" border="0" /> 公司名稱</td>
                    <td align="left" colspan="3">
                        @dr["comtitle"].ToString()
                    </td>
                </tr>
                <tr>
                    <td align="right"> 公司簡稱</td>
                    <td align="left" colspan="3">
                        @dr["comsttitle"].ToString()
                    </td>
                </tr>
                <tr>
                    <td align="right"><img src="~/images/art.gif" border="0" /> 公司電話</td>
                    <td align="left">
                        @dr["comtel"].ToString()

                    </td>
                    <td align="right"> 公司傳真</td>
                    <td align="left">
                        @dr["comfax"].ToString()

                    </td>
                </tr>
                @{
                    allcomid = dr["comid"].ToString();
                    dr.Close();
                    dr.Dispose();
                }
                <tr>
                    <td colspan="4">
                        @{
                            tmpsql = "select * from checkcode where chkclass = '83' order by corder";
                            cmd.Connection = comconn;
                            cmd.CommandText = tmpsql;
                            dr = cmd.ExecuteReader();
                        }
                        @while (dr.Read())
                        {
                            if (dr["chkcode"].ToString() == ViewBag.bseason)
                            {
                                <input type="button" class="abutton" onclick="location.href='/allcompany/brlist?allcomid=@(allcomid)&bseason=@(dr["chkcode"])'" value="@dr["chkitem"]">
                            }
                            else
                            {
                                <input type="button" onclick="location.href='/allcompany/brlist?allcomid=@(allcomid)&bseason=@(dr["chkcode"])'" value="@dr["chkitem"]">
                            }
                        }
                        @{
                            dr.Close();
                            dr.Dispose();
                        }
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        @Html.Raw("<table class='maintable' width='100%' border='1' cellspacing='0' cellpadding='3' id='mtable'>")
                <tr>
                    <th width="30"><input type=button value="刪除" onclick="FormAdd.action = '/allcompany/brdel'; FormAdd.submit();" /></th>
                    <th width="100">模式</th>
                    <th width="100">媒體類別</th>
                    <th width="100">媒體名稱</th>
                    <th width="100">不包括媒體</th>
                    <th width="100">獎金級距1</th>
                    <th width="50">獎金級距2</th>
                    <th width="50">比例(%)<br />金額</th>
                    <th width="50">限期<br />歸0</th>
                    <th width="80">現折提<br />前天數</th>
                    
                </tr>
                @{ int a = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center">
                            <input type="checkbox" id="cdel" name="cdel" value="@item.bid">
                            <input type="hidden" id="bid" name="bid" value="@item.bid">
                        </td>
                        <td align="left">
                            <select name="btype" id="btype@(a)" style="font-size:9pt">
                                <option value="">請選擇</option>
                                <option value="0" @if (item.btype == "0") { @("selected")   }>單筆金額</option>
                                <option value="1" @if (item.btype == "1") { @("selected")    }>單筆比例</option>
                                <option value="4" @if (item.btype == "4") { @("selected")} >單筆比例(扣除媒體)</option>
                                <option value="2" @if (item.btype == "2") { @("selected")} >落點級距比例</option>
                                <option value="3" @if (item.btype == "3") { @("selected")} >累計級距比例</option>
                                <option value="5" @if (item.btype == "5") { @("selected")} >計入現折比例</option>
                            </select>
                        </td>
                       @{
                           tmpsql = "select * from mediaclass order by mcno"; 
                           }
                        <td>
                            @Html.Raw(dbobj.get_selectobj1(erpconn, tmpsql, "mcno", item.mcno, "1", "mcno" + a).Replace("請選擇", "全部"))
                        </td>

                        @*==================================*@
                        <td align="left" width="220">
                            <input type="hidden" id="old@(a)Mmdno" name="Mmdno" value="@item.mdno">
                            <input type="text" size="14" id="old@(a)Mmdtitle" name="oldMmdtitle" value="@getMtitle(item.mdno)" readonly placeholder="挑選媒體"><input type="button" value="挑選" class=abutton onclick="javascript: return chooseMediachannel($(this));" id="old@(a)_Mmdno" name="old@(a)_Mmdno">
                        </td>
                        <td align="left" width="220">
                            <input type="hidden" id="old@(a)Mnonmdno" name="Mnonmdno" value="@item.nonmdno">
                            <input type="text" size="14" id="old@(a)Mnonmdtitle" name="oldMnonmdtitle" value="@getMtitle(item.nonmdno)" readonly placeholder="挑選不包含媒體"><input type="button" value="挑選" class=abutton onclick="javascript: return chooseMediachannel($(this));" id="old@(a)_Mnonmdno" name="old@(a)_Mnonmdno">
                        </td>
                        @*==================================*@
                            
                                <td align="left">
                                    <input type="text" size="10" id="bsmoney@(a)" name="bsmoney" value="@item.bsmoney" maxlength="20">
                                </td>
                                <td align="left">
                                    <input type="text" size="10" id="bemoney@(a)" name="bemoney" value="@item.bemoney" maxlength="20">
                                </td>
                                <td align="left">
                                    <input type="text" size="6" id="brate@(a)" name="brate" maxlength="10" value="@decimal.Parse(item.brate.ToString()).ToString("###,###.0##")">
                                </td>
                                <td align="left">
                                    <select name="ifzero">
                                        <option value="y" @if(item.ifzero=="y"){@("selected")}>是</option>
                                        <option value="n" @if(item.ifzero == "n") { @("selected") }>否</option>
                                    </select>
                                </td> 
                                <td align="left">
                                    <input type="text" size="5" id="bfday_discount@(a)" name="bfday_discount" value="@item.bfday_discount" maxlength="2">
                                </td> 
                    </tr>
                        a++;
                }
                @for (int i = 0; i < 5; i++)
                {
                    <tr>
                        <td align="center">
                            <input type=hidden id="cdel" name="cdel" value="">
                            <input type="hidden" id="bid" name="bid" value="">
                        </td>
                        <td align="left">
                            <select name="btype" id="btype@(a)" style="font-size:9pt">
                                <option value="">請選擇</option>
                                <option value="0">單筆金額</option>
                                <option value="1">單筆比例</option>
                                <option value="4">單筆比例(扣除媒體)</option>
                                <option value="2">落點級距比例</option>
                                <option value="3">累計級距比例</option>
                                <option value="5">計入現折比例</option>
                             </select>
                        </td>
                        @{
                    tmpsql = "select * from mediaclass order by mcno";
                        }
                        <td>
                            @Html.Raw(dbobj.get_selectobj(erpconn, tmpsql, "mcno", "", "1").Replace("請選擇","全部"))
                        </td>

                        @*==================================*@
                        <td align="left" width="220">
                            <input type="hidden" id="@(i)Mmdno" name="Mmdno" value="">
                            <input type="text" size="14" id="@(i)Mmdtitle" name="Mmdtitle" value="" readonly placeholder="挑選媒體"><input type="button" value="挑選" class=abutton onclick="javascript: return chooseMediachannel($(this));" id="new@(i)_Mmdno" name="new@(i)_Mmdno">
                        </td>
                        <td align="left" width="220">
                            <input type="hidden" id="@(i)Mnonmdno" name="Mnonmdno" value="">
                            <input type="text" size="14" id="@(i)Mnonmdtitle" name="Mnonmdtitle" value="" readonly placeholder="挑選不包含媒體"><input type="button" value="挑選" class=abutton onclick="javascript: return chooseMediachannel($(this));" id="new@(i)_Mnonmdno" name="new@(i)_Mnonmdno">
                        </td>
                        @*==================================*@

                        <td align="left">
                            <input type="text" size="10" id="bsmoney@(a)" name="bsmoney" value="" maxlength="20">
                        </td>
                        <td align="left">
                            <input type="text" size="10" id="bemoney@(a)" name="bemoney" value="" maxlength="20">
                        </td>
                        <td align="left">
                            <input type="text" size="6" id="brate@(a)" name="brate" maxlength="10" value="">
                        </td>
                        <td align="left">
                            <select name="ifzero">
                                <option value="y" checked>是</option>
                                <option value="n">否</option>
                            </select>
                        </td> 
                        <td align="left">
                            <input type="text" size="5" id="bfday_discount@(a)" name="bfday_discount" value="" maxlength="2">
                        </td> 
                       
</tr>
                        a++;
                }
            </table>
            
</td>
   </tr>
    <tr >
        <td align="center" colspan="4" class="footerfont">
         
            <input type="submit" value="確認" class="abutton" />
            <input id="reset1" class="abutton" name="reset1" type="reset" value="重新輸入" />
            @Html.ActionLink("回上頁", "list", "custcontract", new { }, new { @class = "abutton" })

        </td>
    </tr>
</table>
</form>
           @{    
                erpconn.Close();
                erpconn.Dispose();
                comconn.Close();
                comconn.Dispose();
            }
                       
   
</td>
</tr>
</table>
<script>
    @*/*20161222 CST 下拉改挑選*/
    function ajax_mediachannel(obj1, tmpval) {
        $("#" + obj1).load("/ajax/mediachannelselect", { keyword: tmpval, mcno: '@ViewBag.mcno', qtype: '1' });
    }*@
    function chooseMediachannel(el) {
        el = el.prev();
        var Mname = el.prev().attr("id");
        el = el.prev();
        var no = el.prev().attr("id");
        window.open('/Ajax/chooseMediachannel?no=' + no + '&Mname=' + Mname, 'edm', 'scrollbars=yes,width=400,height=500')
    }

</script>
           
    
@functions{
    private string getMtitle(string v)
    {
        string outV = "";
        if (v.Length > 1) { 
        v = v.Substring(1, v.Length - 1);
        v = v.Replace('#',',');
       
        Aitag.Models.NDcommon dbobj = new Aitag.Models.NDcommon();
        using (SqlConnection conn = dbobj.get_conn("AitagBill_DBContext"))
        {
            string sql = "select mdtitle from mediachannel where mdno in (" + v + ");";
            using (SqlCommand cmd = new SqlCommand(sql, conn))
            {
                SqlDataReader dr = cmd.ExecuteReader();
                while (dr.Read())
                {
                    outV += "#" + dr["mdtitle"];
                }
                dr.Close();
            }
        }
        }
        return outV;
    }
}

